body {
    background-size: 100;
}

.card {
    cursor: default;
    margin-right: 25px;
    transition: 5s;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.70);
    -moz-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.70);
    box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.70);
}

.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card-header {
    background-color: rgba(33, 236, 169, 0.301);
}

.card-footer {
    background-color: rgba(33, 236, 169, 0.301);
}

.card-body {
    background-color: rgba(207, 221, 14, 0.411);
}

.form-group {
    margin-inline: auto;
    padding: 15px;
    width: auto;
}

label {
    padding: 0px 20px 0px 0px;
}

#btnRetry {
    text-decoration: none;
    color: rgb(37, 2, 194);
}

#btnRetry:hover {
    color: rgb(255, 18, 1);
    font-weight: bold;
}

#btnEqual {
    margin-right: 30px;
    margin-left: 30px;
}

.hidden {
    display: none;
}